<div id="browser-sidebar-container">
    <ul id="browser-sidebar-links">
        <li><a href="#" class="active">Library</a></li>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Shared</a></li>
        <li><a href="#">Recycle Bin</a></li>
    </ul>
</div>