<div id="browser-sidebar-container">
    <ul id="browser-sidebar-links">
        <li><a href="#" class="active" data-action="view-library">Library</a></li>
        <li><a href="#" data-action="view-shares">Shared</a></li>
    </ul>
</div>