/*! Ictect IntelliDocs Document Management System
    Primary Stylesheet
*/

html, body, select, input {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    font-weight: 200;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

    body.no-scroll {
        overflow: hidden;
    }

/* Anchors */
a {
    text-decoration: none;
    color: #1e90ff;
}

    a:hover {
        text-decoration: underline;
    }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

/* Icons */
.icon-stack {
    position: relative;
}

    .icon-stack .glyphicon {
        position: absolute;
    }

/* Dialog */
.dialog-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 7;
    position: absolute;
}

.dialog-container {
    width: 100%;
    background: #FFF;
    height: 175px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    text-align: center;
}

    .dialog-container > .dialog-body {
        width: 700px;
        margin: 0 auto;
        padding-top: 20px;
    }

        .dialog-container > .dialog-body > h2 {
            text-align: left;
        }

        .dialog-container > .dialog-body > p {
            text-align: left;
        }

/* Header */
#header-container {
    width: 100%;
    height: 45px;
    background: #5E8793;
    padding: 0;
}

    #header-container > header a {
        color: #FFF;
        font-size: 1.8rem;
    }

        #header-container > header a:hover {
            color: #ccc;
        }

    #header-container > header div#header-actions {
        display: inline-block;
        margin-left: 10px;
    }

        #header-container > header div#header-actions a:not(:first-of-type) {
            margin-left: 15px;
        }

        #header-container > header div#header-actions a > span, #header-container > header div#header-actions a > i.fa {
            margin-right: 5px;
        }

        #header-container > header div#header-actions > div#directory-actions {
            border-left: 2px solid #FFF;
            display: inline-block;
            padding-left: 10px;
            margin-left: 5px;
        }

    /* Header Home Link */
    #header-container > header a#header-home {
        color: #FFF;
        font-size: 2rem;
        padding: 0 0 0 18px;
        width: 136px;
        display: inline-block;
    }

        #header-container > header a#header-home:hover {
            color: #ccc;
        }

    /* Header Search Input */
    #header-container > header input#header-search {
        width: 30%;
        height: 45px;
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
        margin-left: 10px;
        font-size: 1.8rem;
        padding-left: 5px;
        color: #eee;
    }

    /* Header Settings Buttons */
    #header-container > header ul#header-settings {
        float: right;
        list-style-type: none;
        margin: 2px 5px 0 0;
        height: 100%;
        padding: 0;
    }

        #header-container > header ul#header-settings li {
            display: inline-block;
            font-size: 2rem;
        }

            #header-container > header ul#header-settings li:not(:first-of-type) {
                margin-left: 5px;
            }

            #header-container > header ul#header-settings li a {
                color: #FFF;
            }

                #header-container > header ul#header-settings li a:hover {
                    color: #cccccc;
                }

/* Browser Sidebar */
#browser-sidebar-container {
    width: 150px;
    background: #FFF;
    display: inline-block;
    height: 100%;
    padding: 10px 0 0 0;
    border-right: 1px solid #ccc;
}

    #browser-sidebar-container > ul#browser-sidebar-links {
        list-style-type: none;
        padding-left: 0;
    }

        #browser-sidebar-container > ul#browser-sidebar-links > li {
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
        }

            #browser-sidebar-container > ul#browser-sidebar-links > li a {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 0.8em 0.5em;
            }

                #browser-sidebar-container > ul#browser-sidebar-links > li a:hover {
                    background: #92CDDE;
                    color: #FFF;
                    text-decoration: none;
                }

                #browser-sidebar-container > ul#browser-sidebar-links > li a.active {
                    background: #B1E3F2;
                    color: #666;
                }

                    #browser-sidebar-container > ul#browser-sidebar-links > li a.active:hover {
                        background: #5E8793;
                        color: #FFF;
                    }

/* Content Container */
#content-container {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 45px;
    padding: 10px 5px 5px 15px;
    width: 92%;
}

    #content-container .page-title {
        margin-top: 0.5em;
    }

.content-container {
    padding: 5px;
    border-radius: 4px;
}

.error {
    background: #D9534F;
}

.success {
    background: #5CB85C;
}

.error, .success {
    color: #FFF;
}

/* Error Message (floating) */
.error-message {
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 9999;
}

/* Doc Library Flexbox */
#library-grid {
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
}

    #library-grid .library-grid-item {
        width: 16%;
        padding: 5px;
        margin: 10px;
        display: inline-block;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 3px;
    }

        #library-grid .library-grid-item:hover {
            border: 1px solid #999;
            -webkit-box-shadow: 0 0 15px 0 #999;
            box-shadow: 0 0 15px 0 #999;
            text-decoration: none;
        }

        #library-grid .library-grid-item i.fa {
            font-size: 4rem;
            display: block;
            margin: 10px;
        }

        #library-grid .library-grid-item.library-folder-new {
            position: relative;
        }

            #library-grid .library-grid-item.library-folder-new .fa {
                margin: 10px;
                display: block;
                font-size: 4rem;
            }

            #library-grid .library-grid-item.library-folder-new .fa-plus {
                font-size: 2rem;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                top: 20px;
            }

        #library-grid .library-grid-item input {
            border: none;
            font-size: 1.5rem;
        }

            #library-grid .library-grid-item input[placeholder] {
                text-align: center;
            }

/* Splash Page */
#splash-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

    #splash-container > #splash-content {
        width: 33%;
        text-align: center;
        -ms-border-radius: 5px;
        border-radius: 5px;
        background: #FFF;
        border: 1px solid #999;
        -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
        -ms-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    }