<div id="splash-container">
    <div id="splash-content">
        <img src="@Url.Content("~/Content/Images/ictect-logo.gif")" alt="" />
        <h1>Welcome to IntelliDocs</h1>

        <h2>Loading...</h2>
    </div>
</div>