@{
    ViewBag.Title = "Home";
}
<h2 class="page-title">Document Library</h2>

<div id="library-grid">
    <a href="#" class="library-grid-item library-folder">
        Test Folder
    </a>
    <a href="#" class="library-grid-item library-doc">Test Document</a>
</div>

<script>
    $(function() {
        IntelliDocs.showSplash();
    });
</script>