@using Ictect.IntelliDocs.Web.Models
@model Library
@{
    ViewBag.Title = "Home";
}

<div id="library-content">
    @{ Html.RenderAction("LoadDirectory", "Library", new { @dirId = Model.RootDirectory.dirId, @libraryId = Model.libId }); }
</div>
<script>
    $(function () {
        //IntelliDocs.showSplash();
        IntelliDocs.setLibrary(@Model.RootDirectory.dirId, 0, @Model.libId);
    });
</script>