
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ictect IntelliDocs</title>
</head>
<body>
<div>
    <h1>Ictect IntelliDocs</h1>
</div>
</body>
</html>
